<html>
    <head>
        <title>Tada!!</title>
        <style>
            body {
                background:#000;
                color:#FFF;
                margin:20px;
                font-size:2em;
                text-align:center;
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
            a { color:#FFF }
        </style>
    </head>
<body>
    <div>
        <h1>flag{4641N_4ND_4641N_4ND_4641N}</h1>
    </div>
</body>
</html>
